CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build
cmake-build-debug/
my_stderr.txt
my_stdout.txt
test.txt
openggs
.idea/

subprojects/SDL2-*
subprojects/SDL2_image-*
subprojects/SDL2_mixer-*
subprojects/libogg-*
subprojects/libvorbis-*
subprojects/packagecache/
